css
.container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}

.controls{
    background-color: rgb(205, 191, 243);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group label{
    font-size: 14px;
}

.input-group input{
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.input-group input:focus {
    outline: none;
    border-color: greenyellow;
}

#generate {
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(132, 66, 238);
    transition: background-color 0.5s, transform 0.3s;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

#generate:hover {
    background-color: rgb(39, 36, 179);
    font-weight: bold;
}

#generate:active {
    transform: scale(0.7);
}

.demo {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.content {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.253);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, transform 0.5s, box-shadow 0.30s;
}

.content:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.10);
}


.content.fizz {
    background-color: #ffc0c0;
}

.content.fizz:hover {
    background-color: #ff7575;
    transform: scale(1.08);
    box-shadow: 0 0 20px rgba(255, 106, 106, 0.5);
}


.content.buzz {
    background-color: #e0f8ff;
}

.content.buzz:hover {
    background-color: #5088ff;
    transform: rotate(5deg) scale(1.08);
    box-shadow: 0 0 20px rgba(10, 75, 255, 0.5);
}


.content.fizzbuzz {
    background-color: #fad8ff;
    font-weight: bold;
}

.content.fizzbuzz:hover {
    background-color: #ea70ff;
    transform: scale(1.05) rotate(5deg);
    box-shadow: 0 0 25px rgba(222, 149, 235, 0.6);
}



