.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 178, 232);
    display: flex;
}

.demo {
    gap: 15px; 
    padding: 20px;
    background-color: aquamarine;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 1px solid aquamarine;
    border-radius: 10px;
    transition: backgroun-color 1s, transform 0.35s; 
}

.fizz:hover{
    background-color: beige;
    border: 1px solid black;
}

.buzz:hover{
    border: 1px solid black;
    transform: translateY(-5px) ;
}


.juan {
    background-color: brown;
}